/Server/.svn
/Server/run/Debug/
/Server/ipch/
/Server/Bin
/Server/*.opensdf
/Server/Lib/
/Server/.vs
/Server/JyNetwork/.vs
/Server/run/
/Server/Lib/Debug
/Server/Lib/Release
/Server/run/Release
/Server/*.sdf
/Server/run/Debug/
/Product/Lib/
/Product/Temp/
/Product/run/Debug/
/Product/run/Release/
/Product/build
/Product/build_release
/Server/Dependencies
/.cproject
/.project
/.settings/
/Server/*.db
/Server/*.opendb
/Server/.cr/personal/Editor
/Server/.cr/personal/IDE
/Server/.cr/personal/Unit Testing
